<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.diagnostics>
    <sources>
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
        </listeners>
      </source>
      <source name="defaultTraceSource" switchValue="allTraceLevel">
        <listeners>
          <add name="consoleListener" />
          <add name="logFileTraceListener" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- Use this switch to output all log messages -->
      <add name="allTraceLevel" value="All" />
      <!-- Use this switch to output low-level debugging, informational,
        warning, and error messages -->
      <add name="verboseTraceLevel" value="Verbose" />
      <!-- Use this switch to output informational, warning,
        and error messages -->
      <add name="infoTraceLevel" value="Info" />
      <!-- Use this switch to output warning and error messages -->
      <add name="warningTraceLevel" value="Warning" />
      <!-- Use this switch to output error messages -->
      <add name="errorTraceLevel" value="Error" />
      <!-- Use this switch to output no tracing messages -->
      <add name="offTraceLevel" value="Off" />
    </switches>
    <sharedListeners>
      <add
        type="System.Diagnostics.ConsoleTraceListener"
        name="consoleListener"
        traceOutputOptions="None" />
      <add
        type="System.Diagnostics.TextWriterTraceListener"
        name="logFileTraceListener"
        initializeData="AdminConsole.log"
        traceOutputOptions="DateTime">
        <!--
          Use a filter so that log file excludes low-level debugging messages
        -->
        <filter type="System.Diagnostics.EventTypeFilter"
          initializeData="Information" />
      </add>
      <add name="FileLog"
        type="Microsoft.VisualBasic.Logging.FileLogTraceListener,
          Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, 
          PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
        initializeData="FileLogWriter"
      />
    </sharedListeners>
  </system.diagnostics>
</configuration>